.main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin:10px;
    align-items: center;
    min-height: calc(100vh - 192px);
    /* background-color: #f5f5f5; */
}