.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: calc(100vh - 132px);
}

.heroSection {
  
  
}

.heroSection.dark {
  background-color: #1a1a1a; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

.imageContainer {
  margin-right: 50px;
}

.roundedImage {
  border-radius: 50%;
}

.textContainer {
  max-width: 500px;
}

.title {
  font-size: 36px;
  margin: 0 0 10px 0;
  transition: color 0.3s; /* Smooth transition for text color */
}

.title.dark {
  color: #eb0404; /* Dark mode title color (red) */
}

.subtitle {
  font-size: 18px;
  transition: color 0.2s; /* Smooth transition for subtitle color */
}

.subtitle.dark {
  color: #bbb; /* Dark mode subtitle color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }
}