.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* height: calc(100vh - 132px); */
  position: relative;
  min-height: 467px;
}

.heroSection.dark {
  color: #fcfcfc;


}


.imageContainer {
  margin-right: 50px;
  z-index: 1;
  border-radius: 50%;
  /* Circular shape */
  /* overflow: hidden;  */
  position: relative;
  /* For positioning the overlay */

  /* Shadow for depth */
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)); */
  /* Gradient background */
}

.roundedImage {
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  /* Image fits the container */
  height: auto;
  /* Maintain aspect ratio */
}

.textContainer {
  max-width: 500px;
  z-index: 1;
}

.title {
  font-size: 26px;
  margin: 0 0 10px 0;
  transition: color 0.3s;
}

.heroSection.dark .title {
  color: #fcfcfc;
}

.subtitle {
  font-size: 16px;
  transition: color 0.2s;
}

.heroSection.dark .subtitle {
  color: #bbb;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .textContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: start;
    z-index: 1;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

}