:root {
  --background: #ffffff;
  --background-dark: #1a1a1a;
  --foreground: #171717;

  --first-color: #e8f1fa;
  --second-color: #DBE2EF;
  --third-color: #3F72AF;
  --fourth-color: #112D4E;

  /* sidebar */
  --logout-bg-color: #e63946;
  --logout-hover-color: #d62839;
  --active-link-color: #0070f3;
  --hover-link-color: #0070f3;

  --text-primary: #333333;
  --primary-color: #3F72AF;
  --hover-background: rgba(0, 0, 0, 0.05);
  --hover-background-dark: rgba(255, 255, 255, 0.1);
}



::selection {
  background: rgb(249, 255, 196)
}

.dark ::selection {
  background-color: rgb(61, 66, 12)
}

[class="dark"] {
  --background: #1d1d1d;
  --foreground: #ededed;
}

html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light;
}




html.dark {
  color-scheme: dark;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Typography Wordpress Post */

ol,
ul {
  padding-left: 20px;
  /* Adjust the value as needed */
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  margin: 30px auto;

  border: 0;
  width: 50%;
  border-top: 1px solid var(--foreground);
}

/* Smooth transition for theme changes */
body {
  transition: color 0.3s ease, background-color 0.3s ease;
}