

/* Container Styles */
.container {
  max-width: 800px; /* Maximum width for the container */
  margin: 20px auto; /* Center the container */
  padding: 20px; /* Padding for the container */

  border-radius: 8px; /* Rounded corners */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  */
}



/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}

/* Header Styles */
.table th {
  background-color: var(--third-color); /* Vercel Blue */
  color: white;
  position: sticky;
  top: 0;
}

/* Row Styles */
.table tbody tr {
  transition: background-color 0.3s;
}

.table tbody tr:hover {
  background-color: #f1f1f1; /* Light grey for hover */
}

/* Loading and Error Messages */
.message {
  text-align: center;
  color: #666;
  font-size: 1.2rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 10px 8px;
  }

  .title {
    font-size: 1.5rem;
  }
}
