/* AdminPage.module.css */

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 176px);

}

.settings h1 {
  margin-bottom: 1rem;
}