

/* Center the main container */
.one_column {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  /* min-height: 100vh;       */
  padding: 20px;
}

/* Style for the heading */
.h1 {
  font-size: 2em;         /* Font size for the heading */
  margin-bottom: 20px;    /* Space below the heading */
}

/* Style for the unordered list */
.ul {
  list-style-type: none;  /* Remove default bullet points */
  width: 100%;            /* Full width of the parent container */
  max-width: 750px;       /* Optional: limit the max width */
  padding: 0;             /* Remove default padding */
}

/* Style for list items */
.li {
  margin-bottom: 15px;
}

.loadingContainer{
  margin: 40px auto;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .one_column  {
    padding: 0px;       /* Add padding to the left and right */
  }
}


