/* app/dashboard/layout.module.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 178px) !important;
  justify-content: center;
  align-items: center;

}

.mainContent {
  /* flex: 1; */
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f4f4f4; */
}

.error{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(199, 69, 69)
}
