/* app/(official)/(private)/dashboard/layout.module.css */
.layout {
  min-height: calc(100vh - 178px);
  display: flex;

}

.container {
  display: flex;
  width: 100%;
}

.mainContent {

  width: 100%;
  /* Add padding bottom on mobile for the navigation bar */

}

@media (min-width: 768px) {
  .main {
    padding-bottom: 1.5rem;
  }
}