/* app/dashboard/layout.module.css */

.layout {
  display: flex;
  min-height: calc(100vh - 180px);
  justify-content: center;
  align-items: center;
  /* height: 100vh; */

}

.mainContent {
  /* flex: 1; */
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f4f4f4; */
}
